<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
			 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN">

<hibernate-configuration>


<session-factory>

<!-- Database connection settings -->


<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
<property name="hibernate.jdbc.time_zone">UTC</property>

<property name="connection.url">jdbc:mysql://localhost:3306/compagnia_aerea?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC
</property>

<property name="connection.username">root</property>

<property name="connection.password">root</property>

<!-- Collega l'istanza della sessionFactory al thread corrente -->
<property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
<property name="hibernate.hbm2ddl.auto">validate</property>
<property name="hibernate.current_session_context_class">thread</property>
<property name="hibernate.enable_lazy_load_no_trans">true</property>


<!-- JDBC Conection pool -->


<property name="connection.pool_size">1</property>

<property name="show_sql">true</property>

<!-- Mapping delle classi -->


<mapping class="it.begear.CompagniaAerea.Model.Cliente"/>
<mapping class="it.begear.CompagniaAerea.Model.Volo"/>
<mapping class="it.begear.CompagniaAerea.Model.Prenotazione"/>
<mapping class="it.begear.CompagniaAerea.Model.Aereo"/>


</session-factory>

</hibernate-configuration>